.image-container {
  display: grid;
  grid-gap: 4px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.image-container .image-item {
  width: 100%;
  height: auto;
}
.image-container.one-images {
    grid-template-columns: repeat(1, 1fr);
  }

.image-container.two-images {
  grid-template-columns: repeat(2, 1fr);
}

.image-container.three-images {
  grid-template-columns: repeat(3, 1fr);
}

.image-container.four-images {
  grid-template-columns: 1fr 1fr;
}

.image-container.five-images {
  grid-template-columns: 1fr 1fr 1fr;
}

.image-container.six-images {
  grid-template-columns: 1fr 1fr 1fr;
}

.image-container.seven-images {
  grid-template-columns: 1fr 1fr 1fr ;
}

.image-container.eight-images {
  grid-template-columns: 1fr 1fr 1fr ;
}

.image-container.nine-images {
  grid-template-columns: 1fr 1fr 1fr ;
}
