.tweet {
    box-sizing: border-box;
    width: 100%;
    border-radius: 16px;
    background: #ffffff;
    padding: 20px;
    .avatar {
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
      .name {
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        letter-spacing: 0px;
        font-variation-settings: "opsz" auto;
        color: #000000;
      }
      .metaid {
        font-size: 12px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0em;

        font-variation-settings: "opsz" auto;
        color: #666666;
      }
    }
    .content {
      padding-left: 21px;

    }
    .actions{
      padding-left: 61px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 12px;
      color:#666666;
      .item{
          cursor: pointer;
      }
    }
  }